Repository ROCm/rpp, pull requests merged in 2024-06, with the labels that each got.

#369 Update install.rst
  docs/install/install.rst
Labels: documentation, ci:docs-only

#368 Update install.rst
  docs/install/install.rst
Labels: documentation, ci:docs-only

#367 Update install.rst
  docs/install/install.rst
Labels: documentation, ci:docs-only

#347 Add "Docs - Missing input and output images for Doxygen (#331)" to 6.1.1
  docs/data/doxygenInputs/img150x150_1.png
  docs/data/doxygenInputs/input150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_add_scalar_150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_fused_multiply_add_scalar_150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_magnitude_img150x150.png
  docs/data/doxygenOutputs/arithmetic_operations_multiply_scalar_150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_subtract_scalar_150x150x4.gif
  docs/data/doxygenOutputs/color_augmentations_color_jitter_img150x150.png
  docs/data/doxygenOutputs/color_augmentations_color_temperature_img150x150.png
  docs/data/doxygenOutputs/effects_augmentations_ricap_img150x150.png
  docs/data/doxygenOutputs/effects_augmentations_vignette_img150x150.png
  docs/data/doxygenOutputs/effects_augmentations_water_img150x150.png
  docs/data/doxygenOutputs/geometric_augmentations_flip_150x150x4.gif
  docs/data/doxygenOutputs/geometric_augmentations_flip_img150x150.png
  docs/data/doxygenOutputs/geometric_augmentations_phase_img150x150.png
  docs/data/doxygenOutputs/geometric_augmentations_resize_crop_mirror_img115x115.png
  docs/data/doxygenOutputs/geometric_augmentations_resize_mirror_normalize_img115x115.png
  docs/install/install.rst
  include/rppt_tensor_arithmetic_operations.h
  include/rppt_tensor_color_augmentations.h
  include/rppt_tensor_effects_augmentations.h
  include/rppt_tensor_geometric_augmentations.h
Labels: documentation, BugFix, ci:docs-only

#346 Add "Docs - Missing input and output images for Doxygen (#331)" to 6.1.0 docs
  .readthedocs.yaml
  docs/data/doxygenInputs/img150x150_1.png
  docs/data/doxygenInputs/input150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_add_scalar_150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_fused_multiply_add_scalar_150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_magnitude_img150x150.png
  docs/data/doxygenOutputs/arithmetic_operations_multiply_scalar_150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_subtract_scalar_150x150x4.gif
  docs/data/doxygenOutputs/color_augmentations_color_jitter_img150x150.png
  docs/data/doxygenOutputs/color_augmentations_color_temperature_img150x150.png
  docs/data/doxygenOutputs/effects_augmentations_ricap_img150x150.png
  docs/data/doxygenOutputs/effects_augmentations_vignette_img150x150.png
  docs/data/doxygenOutputs/effects_augmentations_water_img150x150.png
  docs/data/doxygenOutputs/geometric_augmentations_flip_150x150x4.gif
  docs/data/doxygenOutputs/geometric_augmentations_flip_img150x150.png
  docs/data/doxygenOutputs/geometric_augmentations_phase_img150x150.png
  docs/data/doxygenOutputs/geometric_augmentations_resize_crop_mirror_img115x115.png
  docs/data/doxygenOutputs/geometric_augmentations_resize_mirror_normalize_img115x115.png
  docs/install/install.rst
  docs/sphinx/requirements.txt
  include/rppt_tensor_arithmetic_operations.h
  include/rppt_tensor_color_augmentations.h
  include/rppt_tensor_effects_augmentations.h
  include/rppt_tensor_geometric_augmentations.h
Labels: documentation, BugFix, ci:docs-only

#336 RPP Erase on HOST and HIP
  docs/data/doxygenOutputs/effects_augmentations_erase_img150x150.png
  include/rppt_tensor_effects_augmentations.h
  src/include/hip/rpp_hip_common.hpp
  src/modules/cpu/host_tensor_effects_augmentations.hpp
  src/modules/cpu/kernel/erase.hpp
  src/modules/hip/hip_tensor_effects_augmentations.hpp
  src/modules/hip/kernel/erase.hpp
  src/modules/rppt_tensor_effects_augmentations.cpp
  utilities/test_suite/HIP/Tensor_hip.cpp
  utilities/test_suite/HIP/runTests.py
  utilities/test_suite/HOST/Tensor_host.cpp
  utilities/test_suite/HOST/runTests.py
  utilities/test_suite/REFERENCE_OUTPUT/erase/erase_u8_Tensor.bin
  utilities/test_suite/rpp_test_suite_common.h
Labels: enhancement

#338 RPP Remap on HOST and HIP
  docs/data/doxygenOutputs/geometric_augmentations_remap_img150x150.png
  include/rppt_tensor_geometric_augmentations.h
  src/include/cpu/rpp_cpu_common.hpp
  src/include/cpu/rpp_cpu_simd.hpp
  src/modules/cpu/host_tensor_geometric_augmentations.hpp
  src/modules/cpu/kernel/remap.hpp
  src/modules/cpu/kernel/resize.hpp
  src/modules/cpu/kernel/warp_affine.hpp
  src/modules/cpu/kernel/water.hpp
  src/modules/hip/hip_tensor_geometric_augmentations.hpp
  src/modules/hip/kernel/remap.hpp
  src/modules/rppt_tensor_geometric_augmentations.cpp
  utilities/test_suite/HIP/Tensor_hip.cpp
  utilities/test_suite/HIP/runTests.py
  utilities/test_suite/HOST/Tensor_host.cpp
  utilities/test_suite/HOST/runTests.py
  utilities/test_suite/REFERENCE_OUTPUT/remap/remap_u8_Tensor_interpolationTypeBilinear.bin
  utilities/test_suite/REFERENCE_OUTPUT/remap/remap_u8_Tensor_interpolationTypeNearestNeighbor.bin
  utilities/test_suite/rpp_test_suite_common.h
Labels: enhancement

#348 RPP Tensor Mean and Stddev on HOST and HIP
  include/rppdefs.h
  include/rppt_tensor_statistical_operations.h
  src/include/cpu/rpp_cpu_common.hpp
  src/include/cpu/rpp_cpu_simd.hpp
  src/include/hip/rpp_hip_common.hpp
  src/modules/cpu/host_tensor_statistical_operations.hpp
  src/modules/cpu/kernel/tensor_mean.hpp
  src/modules/cpu/kernel/tensor_stddev.hpp
  src/modules/hip/hip_tensor_statistical_operations.hpp
  src/modules/hip/kernel/tensor_mean.hpp
  src/modules/hip/kernel/tensor_stddev.hpp
  src/modules/rppt_tensor_statistical_operations.cpp
  utilities/test_suite/HIP/Tensor_hip.cpp
  utilities/test_suite/HIP/runTests.py
  utilities/test_suite/HOST/Tensor_host.cpp
  utilities/test_suite/HOST/runTests.py
  utilities/test_suite/README.md
  utilities/test_suite/rpp_test_suite_common.h
Labels: enhancement

#375 Test Package - Add clang for test compile
  CMakeLists.txt
  README.md
Labels: BugFix

#385 Docs - Missing input and output images for Doxygen (#331)
  docs/data/doxygenInputs/img150x150_1.png
  docs/data/doxygenInputs/input150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_add_scalar_150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_fused_multiply_add_scalar_150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_magnitude_img150x150.png
  docs/data/doxygenOutputs/arithmetic_operations_multiply_scalar_150x150x4.gif
  docs/data/doxygenOutputs/arithmetic_operations_subtract_scalar_150x150x4.gif
  docs/data/doxygenOutputs/color_augmentations_color_jitter_img150x150.png
  docs/data/doxygenOutputs/color_augmentations_color_temperature_img150x150.png
  docs/data/doxygenOutputs/effects_augmentations_ricap_img150x150.png
  docs/data/doxygenOutputs/effects_augmentations_vignette_img150x150.png
  docs/data/doxygenOutputs/effects_augmentations_water_img150x150.png
  docs/data/doxygenOutputs/geometric_augmentations_flip_150x150x4.gif
  docs/data/doxygenOutputs/geometric_augmentations_flip_img150x150.png
  docs/data/doxygenOutputs/geometric_augmentations_phase_img150x150.png
  docs/data/doxygenOutputs/geometric_augmentations_resize_crop_mirror_img115x115.png
  docs/data/doxygenOutputs/geometric_augmentations_resize_mirror_normalize_img115x115.png
  include/rppt_tensor_arithmetic_operations.h
  include/rppt_tensor_color_augmentations.h
  include/rppt_tensor_effects_augmentations.h
  include/rppt_tensor_geometric_augmentations.h
Labels: documentation, ci:docs-only

#387 remove include file paths
  docs/doxygen/Doxyfile
Labels: documentation, ci:docs-only

#388 remove include file paths (#387)
  docs/doxygen/Doxyfile
Labels: documentation, ci:docs-only

#357 RPP Glitch on HOST and HIP
  docs/data/doxygenOutputs/effects_augmentations_glitch_img150x150.png
  include/rppdefs.h
  include/rppt_tensor_effects_augmentations.h
  src/include/cpu/rpp_cpu_simd.hpp
  src/modules/cpu/host_tensor_effects_augmentations.hpp
  src/modules/cpu/kernel/glitch.hpp
  src/modules/hip/hip_tensor_effects_augmentations.hpp
  src/modules/hip/kernel/glitch.hpp
  src/modules/rppt_tensor_effects_augmentations.cpp
  utilities/test_suite/HIP/Tensor_hip.cpp
  utilities/test_suite/HIP/runTests.py
  utilities/test_suite/HOST/Tensor_host.cpp
  utilities/test_suite/HOST/runTests.py
  utilities/test_suite/REFERENCE_OUTPUT/glitch/glitch_u8_Tensor.bin
  utilities/test_suite/rpp_test_suite_common.h
Labels: enhancement

#373 Bugfix for Erase variant
  src/modules/hip/kernel/erase.hpp
Labels: BugFix

#378 Fix to exclude linking FFTS and add AUDIO_SUPPORT flag
  CMakeLists.txt
  include/rpp_audio_augmentations_support.h.in
  include/rppt_tensor_audio_augmentations.h
  src/modules/rppt_tensor_audio_augmentations.cpp
  utilities/test_suite/CMakeLists.txt
  utilities/test_suite/HIP/CMakeLists.txt
  utilities/test_suite/HOST/CMakeLists.txt
Labels: enhancement, BugFix

#389 Build fix for MacOS
  CMakeLists.txt
  src/modules/cpu/kernel/glitch.hpp
Labels: BugFix

#383 RPP Test Suite - Minor augmentation-group update
  utilities/test_suite/HIP/runTests.py
  utilities/test_suite/HOST/runTests.py
  utilities/test_suite/README.md
  utilities/test_suite/common.py
Labels: enhancement

#392 Cherry-pick docs fixes into 6.2 rel
  docs/doxygen/Doxyfile
  include/rppt_tensor_arithmetic_operations.h
  include/rppt_tensor_audio_augmentations.h
  include/rppt_tensor_logical_operations.h
Labels: documentation, ci:docs-only
