Repository ROCm/rpp, pull requests merged in 2024-03, with the labels that each got.

#321 doc_reorg again
  docs/conceptual/what-is-rpp.rst
  docs/data/RPP-functions.csv
  docs/index.rst
  docs/install/install.rst
  docs/license.md
  docs/license.rst
  docs/markdown/design.md
  docs/markdown/misc.md
  docs/markdown/mivisionx.md
  docs/markdown/prereq.md
  docs/markdown/prereq_test.md
  docs/markdown/release.md
  docs/markdown/supported_fxn.md
  docs/markdown/tech_support.md
  docs/markdown/test.md
  docs/sphinx/_toc.yml.in
Labels: documentation, ci:docs-only

#317 Update supported_fxn.md
  docs/supported_fxn.md
Labels: ci:docs-only

#311 RPP Vignette Tensor on HOST and HIP
  include/rppt_tensor_effects_augmentations.h
  src/include/cpu/rpp_cpu_common.hpp
  src/include/hip/rpp_hip_common.hpp
  src/modules/cpu/host_tensor_effects_augmentations.hpp
  src/modules/cpu/kernel/vignette.hpp
  src/modules/hip/hip_tensor_effects_augmentations.hpp
  src/modules/hip/kernel/vignette.hpp
  src/modules/rppt_tensor_effects_augmentations.cpp
  utilities/test_suite/HIP/Tensor_hip.cpp
  utilities/test_suite/HIP/runTests.py
  utilities/test_suite/HOST/Tensor_host.cpp
  utilities/test_suite/HOST/runTests.py
  utilities/test_suite/README.md
  utilities/test_suite/REFERENCE_OUTPUT/vignette/vignette_u8_Tensor.bin
  utilities/test_suite/rpp_test_suite_common.h
Labels: enhancement
