Repository ROCm/rpp, pull requests merged in 2025-09, with the labels that each got.

#611 cherry pick docs changes into 7.0
  docs/index.rst
  docs/install/rpp-build-and-install.rst
  docs/install/rpp-prerequisites.rst
  docs/reference/rpp-env-variables.rst
  docs/reference/rpp-supported-func-and-var-examples.rst
  docs/sphinx/_toc.yml.in
Labels: documentation, ci:docs-only

#597 Box filter padding updates
  api/rppt_tensor_filter_augmentations.h
  docs/data/doxygenOutputs/filter_augmentations_box_filter_kSize3_img150x150.png
  docs/data/doxygenOutputs/filter_augmentations_box_filter_kSize5_img150x150.png
  docs/data/doxygenOutputs/filter_augmentations_box_filter_kSize7_img150x150.png
  docs/data/doxygenOutputs/filter_augmentations_box_filter_kSize9_img150x150.png
  src/include/common/cpu/rpp_cpu_filter.hpp
  src/include/common/hip/rpp_hip_load_store.hpp
  src/modules/tensor/cpu/kernel/box_filter.cpp
  src/modules/tensor/hip/kernel/box_filter.cpp
  src/modules/tensor/rppt_tensor_filter_augmentations.cpp
  utilities/test_suite/HIP/Tensor_image_hip.cpp
  utilities/test_suite/HOST/Tensor_image_host.cpp
  utilities/test_suite/REFERENCE_OUTPUT/box_filter/box_filter_f32_Tensor_kernelSize3.bin
  utilities/test_suite/REFERENCE_OUTPUT/box_filter/box_filter_f32_Tensor_kernelSize5.bin
  utilities/test_suite/REFERENCE_OUTPUT/box_filter/box_filter_f32_Tensor_kernelSize7.bin
  utilities/test_suite/REFERENCE_OUTPUT/box_filter/box_filter_f32_Tensor_kernelSize9.bin
  utilities/test_suite/REFERENCE_OUTPUT/box_filter/box_filter_u8_Tensor_kernelSize3.bin
  utilities/test_suite/REFERENCE_OUTPUT/box_filter/box_filter_u8_Tensor_kernelSize5.bin
  utilities/test_suite/REFERENCE_OUTPUT/box_filter/box_filter_u8_Tensor_kernelSize7.bin
  utilities/test_suite/REFERENCE_OUTPUT/box_filter/box_filter_u8_Tensor_kernelSize9.bin
  utilities/test_suite/rpp_test_suite_image.h
Labels: BugFix, ci:precheckin

#609 removing SP6
  README.md
  docs/install/rpp-prerequisites.rst
Labels: documentation, ci:docs-only

#610 Packaging - Remove Meta Package dependency
  CMakeLists.txt
  README.md
Labels: enhancement, ci:precheckin

#613 Updated doxyfile with correct api input path
  docs/doxygen/Doxyfile
Labels: documentation, ci:docs-only

#606 Warning fixes for HIP Backend - Check return status
  src/include/common/rppi_validate.hpp
  src/modules/handle_hip.cpp
  src/modules/legacy_dep/hip/kernel/snow.cpp
  src/modules/tensor/hip/kernel/crop_and_patch.cpp
  src/modules/tensor/hip/kernel/erase.cpp
  src/modules/tensor/hip/kernel/noise_gaussian.cpp
  src/modules/tensor/hip/kernel/normalize.cpp
  src/modules/tensor/hip/kernel/resize_mirror_normalize.cpp
  src/modules/tensor/hip/kernel/slice.cpp
  src/modules/tensor/hip/kernel/tensor_max.cpp
  src/modules/tensor/hip/kernel/tensor_mean.cpp
  src/modules/tensor/hip/kernel/tensor_min.cpp
  src/modules/tensor/hip/kernel/tensor_stddev.cpp
  src/modules/tensor/hip/kernel/tensor_sum.cpp
  src/modules/tensor/hip/kernel/to_decibels.cpp
  src/modules/tensor/rppt_tensor_effects_augmentations.cpp
Labels: BugFix, ci:precheckin
